
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(88, 143, 204);
}

img {
    border-radius: 50%;
    max-width: 100%;
    min-width: 40%;
    width: 10%;
    height: auto;
    margin-top: 20px;
}

select, #placeInp {
    background-image: linear-gradient(to right, white, lightblue);
    background-color: lightblue;
    width: 80%;
    max-width: 300px;
    height: 50px;
    font-size: 16px;
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
}

#startTimeButton, #stopTimeButton{
    width: 80%;
    max-width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
}

#startTimeButton:hover
{
    background-color: rgb(85, 210, 85);
}
#stopTimeButton {
    background-color: red;
}

#busyNote
{
    padding: 3vh;
    text-align: center;
    min-width: fit-content;
    width: 20vh;
    border-radius: 30px;
    background-color: yellow;
    display: none;
}

#submitBtn {
    background-color: rgb(28, 94, 175);
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border-radius: 30px;
}

#form{
    background-color: #3333334f;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    padding: 5vh;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inp
{
    background-color:rgba(0, 0, 0, 0);
    border: 0;
    margin: 1vh;
    width: 50%;
    font-size: larger;
}

