
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(88, 143, 204);
}

img {
    border-radius: 50%;
    max-width: 100%;
    min-width: 40%;
    width: 10%;
    height: auto;
    margin-top: 20px;
}

select, #placeInp {
    background-image: linear-gradient(to right, white, lightblue);
    background-color: lightblue;
    width: 80%;
    max-width: 300px;
    height: 50px;
    font-size: 16px;
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
}

#startTimeButton, #stopTimeButton{
    width: 80%;
    max-width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    text-align: center;
}

#stopTimeButton {
    background-color: red;
}

#busyNote
{
    padding: 3vh;
    text-align: center;
    min-width: fit-content;
    width: 20vh;
    border-radius: 30px;
    background-color: yellow;
    display: none;
}

#submitBtn {
    background-color: rgb(28, 94, 175);
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border-radius: 30px;
}

#done {
    background-color: #3333334f;
    border-radius: 20px;
    width: 80%;
    max-width: 400px;
    padding: 5vh;
}

.hideInp {
    display: none;
}

